[submodule "chef/compute"]
	path = chef/compute
	url = https://github.com/mevansam/chef-cookbook-compute.git
[submodule "chef/network"]
	path = chef/network
	url = https://github.com/mevansam/chef-cookbook-network.git
[submodule "chef/storage"]
	path = chef/storage
	url = https://github.com/mevansam/chef-cookbook-storage.git
[submodule "chef/sysutils"]
	path = chef/sysutils
	url = https://github.com/mevansam/chef-cookbook-sysutils.git
[submodule "chef/openstack-compute"]
	path = chef/openstack-compute
	url = https://github.com/mevansam/chef-cookbook-openstack-compute.git
[submodule "chef/cookbooks/sysutils"]
	path = chef/cookbooks/sysutils
	url = https://github.com/mevansam/chef-cookbook-sysutils
[submodule "chef/cookbooks/compute"]
	path = chef/cookbooks/compute
	url = https://github.com/mevansam/chef-cookbook-compute
[submodule "chef/cookbooks/storage"]
	path = chef/cookbooks/storage
	url = https://github.com/mevansam/chef-cookbook-storage
[submodule "chef/cookbooks/network"]
	path = chef/cookbooks/network
	url = https://github.com/mevansam/chef-cookbook-network
[submodule "chef/cookbooks/openstack-compute"]
	path = chef/cookbooks/openstack-compute
	url = https://github.com/mevansam/chef-cookbook-openstack-compute
[submodule "chef/cookbooks/openstack-image"]
	path = chef/cookbooks/openstack-image
	url = https://github.com/mevansam/chef-cookbook-openstack-image
[submodule "chef/cookbooks/openstack-block-storage"]
	path = chef/cookbooks/openstack-block-storage
	url = https://github.com/mevansam/chef-cookbook-openstack-block-storage
[submodule "chef/cookbooks/openstack-network"]
	path = chef/cookbooks/openstack-network
	url = https://github.com/mevansam/chef-cookbook-openstack-network
[submodule "chef/cookbooks/openstack-dashboard"]
	path = chef/cookbooks/openstack-dashboard
	url = https://github.com/mevansam/chef-cookbook-openstack-dashboard
[submodule "chef/cookbooks/openstack-services"]
	path = chef/cookbooks/openstack-services
	url = https://github.com/mevansam/chef-cookbook-openstack-services.git
